body{
    margin: 10px;
    padding: 20px;
    border: 2px solid rgb(2, 2, 2);
    background: linear-gradient(180deg, #B8E7FA, #E6E6FA);

}


/* header section */

.logo{
    font-weight: 800;
    font-size: 25px;
    
}
.logo span{
    color: #FFA500;
}

.header-section{

    /* background-image: url(Assets/Hero-bg.png); */
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
    padding: 10px 90px;
    background-color: #c5d4f0;
    border-radius: 10px;
    
    /* border: 2px solid red; */   /* for sure */

}

/* extras like button, hover, font */

.btn, .stay-btn{
    background-color: #4E47FF;
    color: white;

    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 14px;
    /* font-weight: 400; */
    cursor: pointer;

}

.btn{
    padding: 10px 15px;
    font-weight: 400;
}
.stay-btn{
    font-weight: 600;
}


.btn:hover{
    background-color: #2980b9;
}


.stay-btn:hover{
    background-color: #2980b9;
}

.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* banner sections */
.banner{
    background-image: url(Assets/Hero-bg.png);
    background-size: cover;
    margin: 20px;
    padding: 100px 20px;
    text-align: center;
}

.banner h1{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;
    line-height: 1.3;
}

/* action sections */

.action-section{
    display: flex;
    margin: 50px 90px;
    padding: 60px 40px;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid red; */
    
}

.action-text h2{
    font-size: 40px;
    margin-bottom: 15px;
}

.action-text p{
    font-size: 24px;
    color: #504e69;
}

.action-img img{
    max-width: auto;
    max-height: auto;
    /* border: ; */
    border-radius: 35px;
    box-shadow: 0 5px 15px #fa8a01;
}

/* Productive user sections */

.mother{
    display: flex;
    justify-content: space-evenly;



}


.user-section{
    text-align: center;
    background-color: #e7e8ff;
    border-radius: 24px;
    margin: 60px 40px;
    padding: 5px 20px;
}

.user-section h2{
    font-size: 38px;
    font-weight: bold;
    margin-bottom: -20px ;
    /* color: blue; */

}

.child h3{
    font-size: 60px;
    font-weight: 700;
    margin-bottom: -15px;
    color: #4E47FF;
}

.child p{
    font-size: 24px;
    color: #504e69;

}


/* review sections */

h2{
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center;
}
.card{
    /* border: 2px solid green; */
    background-color: white;
    padding: 20px;
    text-align: left;
    box-shadow: 0 2px 8px #fa8a01;
    border-radius: 14px;
    
}

.card h3{
    font-size: 24px;

}

.card p{
    font-size: 16px;
    color: #504e69;

}



.testimonial{
    display: flex;
    justify-content:center ;
    gap: 20px;



}

.star{
    display: flex;
    /* flex-direction:r ; */
    margin-bottom: 10px;
}

.reviewer{
    display: flex;
    align-items: center;
    gap: 20px;

}

/* focus sections */

.focus{
    text-align: center;
    /* border: 2px solid darkblue; */
    padding: 40px;
    border-radius: 10px;
    margin-top: 60px;
    background-color: rgb(255, 255, 255);

}

.focus h2{
    font-size: 50px;
    margin-bottom: 20px;
}

.focus p{
    font-size: 16px;
    color: #504e69;
    margin-bottom: 20px;
}

.focus-img{
    margin-top: 30px;
    justify-content: center;
    /* border: 2px solid black; */
    /* border-radius: 15px; */
}
.focus-img img{
    border-radius: 5px;
    box-shadow: 0 5px 15px #fa8a01;
}

/* newsletter sectioins */
.newsletter{
    display: flex;
    max-width: 900px;
    gap: 50px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.left-side{
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-side h1{
    font-size: 48px;

}

.right-side{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

label{
    font-size: 14px;
    margin-bottom: 5px;
}

input textarea{
    font-size: 16px;
    
}
textarea{
    resize: vertical;
}
.allign{
    display: flex;
    flex-direction: column;
}